In [ ]:
import pandas as pd

# Introduction - Data Cleaning Notebook

Goal: Analyze the available data to present a concise representation of the movie industry, analyze the success of movies based on various factors, and provide insights and reccomendations for the development of film projects.

Methodology:
    
1. Explore the data to determine questions to investigate.
2. Determine 3 relevant questions to examine. 
3. Clean the data. 
4. Restructure the data so that it can be analyzed.
5. Use data visualizations and statistical analysis to make inferences.
6. Develop a presentation of findings.

# Step 1- Data Exploration

#### Investigate Dataframes

In [ ]:
def unpack_df(filename, tsv=False, encoding=False):
    """Display the head and info from a csv file.

    Kwargs:
    tsv -- if True sets delimiter to tabs
    encoding --  if True sets encoding to 'latin'"""
    if encoding==True:
        temp_df = pd.read_csv(filename, delimiter='\t', 
                              encoding='latin')
    elif tsv==True:
        temp_df = pd.read_csv(filename, delimiter='\t')
    else:
        temp_df = pd.read_csv(filename)
    print('Info from {}'.format(filename))
    display(temp_df.head())
    display(temp_df.info())
    print('\n\n\n')

unpack_df('Data/bom.movie_gross.csv.gz')
unpack_df('Data/imdb.name.basics.csv.gz')
unpack_df('Data/imdb.title.akas.csv.gz')
unpack_df('Data/imdb.title.basics.csv.gz')
unpack_df('Data/imdb.title.crew.csv.gz')
unpack_df('Data/imdb.title.principals.csv.gz')
unpack_df('Data/imdb.title.ratings.csv.gz')
unpack_df('Data/rt.movie_info.tsv.gz', tsv=True)
unpack_df('Data/rt.reviews.tsv.gz', encoding=True)
unpack_df('Data/tmdb.movies.csv.gz')
unpack_df('Data/tn.movie_budgets.csv.gz')

#### Name Dataframes

In [ ]:
gross_profits = pd.read_csv('Data/bom.movie_gross.csv.gz')
imdb_crew = pd.read_csv('Data/imdb.name.basics.csv.gz')
imdb_alt_titles = pd.read_csv('Data/imdb.title.akas.csv.gz')
imdb_details = pd.read_csv('Data/imdb.title.basics.csv.gz')
imdb_creators = pd.read_csv('Data/imdb.title.crew.csv.gz')
imdb_principals = pd.read_csv(
    'Data/imdb.title.principals.csv.gz'
    )
imdb_ratings = pd.read_csv('Data/imdb.title.ratings.csv.gz')
rt_info = pd.read_csv('Data/rt.movie_info.tsv.gz', 
                      delimiter='\t')
rt_reviews = pd.read_csv('Data/rt.reviews.tsv.gz', 
                         delimiter='\t', encoding='latin')
tmdb = pd.read_csv('Data/tmdb.movies.csv.gz')
budgets = pd.read_csv('Data/tn.movie_budgets.csv.gz')

movie_data = [('gross_profits', gross_profits), 
              ('imdb_crew', imdb_crew), 
              ('imdb_alt_titles', imdb_alt_titles), 
              ('imdb_details', imdb_details), 
              ('imdb_creators', imdb_creators), 
              ('imdb_principals', imdb_principals),
              ('imdb_ratings', imdb_ratings), 
              ('rt_info', rt_info), 
              ('rt_reviews', rt_reviews),
              ('tmdb', tmdb), ('budgets', budgets)]

# Step 2- Determine Questions

The goal of this project is to reccomend a strategy to successfully launch a movie studio. Based on the data available I will first look at how best to measure success using the factors present in the data:
        
- Box Office Profit
- Audience Reviews
        
I will investigate the following questions:            

1. How much money should we invest?

2. What kinds of films should we produce?

3. When should they be released?

4. Who should we hire to produce it?

# Step 3- Data Cleaning

#### Duplicates:

In [ ]:
for dftup in movie_data:
    # Use dftup[0] to identify section of the output.
    print('Duplicates in {}:'.format(dftup[0]))
    display(dftup[1][dftup[1].duplicated()])
    print('\n\n')

In [ ]:
rt_reviews.drop_duplicates(inplace=True)

rt_reviews[rt_reviews.duplicated()]

#### Null Values and Other Issues:

In [ ]:
for dftup in movie_data:
    print('Total null values for {}:'.format(dftup[0]))
    display(dftup[1].isna().sum())
    print('\n\n')

###### gross_profits

In [ ]:
# Try to find a worthy replacement value.
gross_profits['domestic_gross'].median()

In [ ]:
gross_profits[~gross_profits['foreign_gross'].isna()]['domestic_gross'].median()

In [ ]:
# gross_profits['foreign_gross'].median()
# returns error

In [ ]:
#Commas are preventing accurate statistic caluculation. 
#Based on an internet search these 
# values are also standardized to millions.
gross_profits[gross_profits['foreign_gross']
              .str.contains(',')==True]['foreign_gross']

In [ ]:
# Create new values that can be added to the data.
comma_values = [value for value in gross_profits
                [gross_profits['foreign_gross']
                 .str.contains(',')==True]['foreign_gross']]
fixed_values = []
for value in comma_values:
    fixed_values.append(int(value
                            .replace(',','')
                            .replace('.','')+'00000'))
# Test that it worked.
fixed_values

In [ ]:
# Assign the values.
gross_profits.loc[gross_profits['foreign_gross']
                  .str.contains(',')==True, 
                  'foreign_gross'] = fixed_values

#Test that it worked.
gross_profits[gross_profits['foreign_gross']
              .str.contains(',')==True]['foreign_gross']

In [ ]:
#Find median foreign gross for films with a value.
gross_profits[~gross_profits['foreign_gross']
              .isna()]['foreign_gross'].median()

In [ ]:
#Find median domestic gross for films without 
# a foreign box office value.
gross_profits[gross_profits['foreign_gross']
              .isna()]['domestic_gross'].median()

In gross_profits about a third of all 'foreign_gross' are nan. 

In seeking the best replacement value:

- The median 'domestic_gross' overall: 1,400,000 

- The median 'domestic_gross' for films without 'foreign_gross': 180,000.  

- The median 'domestic_gross' for films with 'foreign_gross': 16,500,000 

- The median 'foreign_gross' for films with values: 19,000,000. 

Because films with a foreign_gross value are significantly larger than those with a null I will preserve the shape of the values by using the ratio of 'domestic_gross' and 'foreign_gross' values to replace the nulls.

In [ ]:
#Replace null values with proper value using a ratio.
proper = []
f_d_ratio = 19000000/16500000

#For each domestic gross value multiply it by the ratio.
for value in gross_profits[gross_profits['foreign_gross']
                           .isna()]['domestic_gross']:
    proper.append(round(value * f_d_ratio, 1))
    
#Assign the new value.
gross_profits.loc[gross_profits['foreign_gross']
                  .isna(), 'domestic_gross'] = proper

I will not need studio data for this analysis, so I'll drop that column.

In [ ]:
# drop studio data
gross_profits.drop('studio',axis=1,inplace=True)
gross_profits.isna().sum()

The remaining null values are for domestic gross, which is important, but there are so few values in the group we can just drop the rows.

In [ ]:
# drop the remaining null values
gross_profits.dropna(inplace=True)
gross_profits.isna().sum()

###### imdb_crew

The main useful information from this dataframe is the name of crew, the primary profession, and the titles they are known for. Birth year is not important, so I'll start by dropping that column.

In [ ]:
#Drop birth year column.
imdb_crew.drop('birth_year', axis=1, inplace=True)
imdb_crew.isna().sum()

In addition, I can use death year to imputed 'Working' or 'Passed' into the column 'Status' which we can use to determine if they are able to be hired in our production.

In [ ]:
imdb_crew.loc[~imdb_crew['death_year']
              .isna(), 'status'] = 'Passed'
imdb_crew.loc[imdb_crew['death_year']
              .isna(), 'status'] = 'Working'
imdb_crew.drop('death_year', axis=1, inplace=True)
imdb_crew.isna().sum()

To replace the 'primary_profession' null values, I will impute the general term 'crew' because it may be helpful to know the impact these professionals had on movies even without knowing their specific role.

In [ ]:
imdb_crew['primary_profession'].fillna(value='crew', 
                                       inplace=True)
imdb_crew.isna().sum()

Without knowing the movies they worked on, data about crew will simply not be useful.

In [ ]:
# drop all rows containing null values
imdb_crew.dropna(inplace=True)
imdb_crew.isna().sum()

###### imdb_alt_titles
I won't be using this information for my analysis.

###### imdb_details

In [ ]:
display(imdb_details.head())
display(imdb_details.isna().sum())

The main useful information in this dataframe is the genres, with years and primary title as identifiers. For this analysis original_title will not be important information. For the films without genre data, I will drop them because they are a relatively small slice of the dataframe.

In [ ]:
imdb_details.drop('original_title', axis=1, inplace=True)
imdb_details.drop('runtime_minutes', axis=1, inplace=True)
imdb_details.dropna(inplace=True)
imdb_details.isna().sum()

###### imdb_creators

In [ ]:
imdb_creators.isna().sum()

In [ ]:
#Display percentage of directors and writers that are missing.
display(
    imdb_creators['directors']
    .value_counts(dropna=False, normalize=True)[0])
display(
    imdb_creators['writers']
    .value_counts(dropna=False, normalize=True)[0])

There are relatively few null values in this dataframe. We'll just drop them.

In [ ]:
imdb_creators.dropna(inplace=True)
imdb_creators.isna().sum()

###### imdb_principals

In [ ]:
imdb_principals.isna().sum()

Which characters the actors played isn't relavant to our analysis.

In [ ]:
imdb_principals.drop(['characters','ordering'], 
                     axis=1, inplace=True)
imdb_principals.head()

The category column is storing the data I want. I will drop job.

In [ ]:
imdb_principals.drop(['job'], axis=1, inplace=True)
imdb_principals.isna().sum()

###### imdb_ratings
Contains no Nulls.

###### rt_info

In [ ]:
display(rt_info.head())
rt_info.isna().sum()

First, I'll drop the information we won't need from this dataframe.

In [ ]:
rt_info.drop(['dvd_date', 'currency', 'studio'], axis=1, 
             inplace=True)

The rest of this information is not easy to replace, so I'll drop the rows that contain null.

In [ ]:
rt_info.dropna(inplace=True)
rt_info.isna().sum()

###### rt_reviews

In [ ]:
rt_reviews.head()

The information we want from this dataframe is just the fresh rating. I'll drop the rest.

In [ ]:
rt_reviews.drop(['review', 'rating', 'critic', 
                 'top_critic', 'publisher', 'date'], 
                axis=1, inplace=True)
rt_reviews.isna().sum()

##### tmdb
Contains no Nulls.

##### budgets
This data needs to be converted to integers.

In [ ]:
budgets.head()

In [ ]:
def fix_values(df, col):
    """Convert strings with , and $ to integers."""
    broken_values = [value for value in df[col]]
    fixed_values = []
    for value in broken_values:
        fixed_values.append(int(value.replace(',','')
                                .replace('$','')))
    df[col] = fixed_values

In [ ]:
fix_values(budgets, 'production_budget')
fix_values(budgets, 'domestic_gross')
fix_values(budgets, 'worldwide_gross')
budgets.head()

In [ ]:
#Split release date into month and year.
budgets['month'] = budgets['release_date']
                   .map(lambda x: x.split()[0])
budgets['year'] = budgets['release_date']
                  .map(lambda x: x.split()[2])

I'll also add a column called 'foreign_gross' and drop the ID column because it has no other reference points in my data.

In [ ]:
budgets.drop('id', axis=1, inplace=True)
budgets['foreign_gross']= budgets['worldwide_gross']
                          -budgets['domestic_gross']
budgets.head()

# Step 4- Restructuring

Next, I'll review the data and organized it into a single dataframe to use for analysis.

In [ ]:
for df_tup in movie_data:
    print('Info for {}:'.format(df_tup[0]))
    display(df_tup[1].head())
    display(df_tup[1].info())
    print('\n\n\n')

The rotten tomatoes data doesn't have movie titles, which means that it will not be able to be joined with the other data. Because it is a much smaller dataset than those with imdb ids, I won't move forward with it.

The 'imdb_creators' dataframe information is already in 'imdb_principals' and the 'gross_profits' dataframe does not contain production costs, so I won't use those either.  

Next I'll create a master dataframe in five steps:

1. Create the main dataframe by joing imdb_details with imdb_ratings

2. Impute the names from 'imdb_crew' into 'imdb_principals to create a 'roles' dataframe.

3. Join the 'roles' dataframe to the main dataframe using tconst as an index.

4. Join the budgets dataframe using title as an index.

5. Drop any columns that are redundant or unecessary
 
###### 1. Create movies

In [ ]:
#Create the main dataframe.
ratings = imdb_ratings.set_index('tconst')
movies = imdb_details.set_index('tconst').join(ratings, 
                                               how='inner')

#Check that it looks right.
movies.head()

##### 2. Create roles

In [ ]:
#Join the dataframes on nconst.
prince = imdb_principals.set_index('nconst')
roles = imdb_crew.set_index('nconst').join(prince, 
                                           how='inner')
#Check that it looks right.
roles.head()

##### 3. Join roles to main dataframe

In [ ]:
#Reset movies index.
movies.reset_index(inplace=True)

#Join roles to movies.
roles = roles.set_index('tconst')
movies = movies.set_index('tconst').join(roles, 
                                         how='inner')
#Check that it looks right.
movies.info()

##### 4. Join budgets to main dataframe

In [ ]:
#Rename the index column.
movies.rename(columns={'primary_title':'title'}, 
              inplace=True)
budgets.rename(columns={'movie':'title'}, 
               inplace=True)

#Join the dataframes.
budgets = budgets.set_index('title') 
movies = movies.set_index('title').join(budgets, 
                                        how='inner')
movies.reset_index(inplace=True)
display(movies.info())
display(movies.head())

##### 5. Drop unecessary columns

In [ ]:
movies.drop(['start_year', 'primary_profession',
             'known_for_titles', 'release_date'], 
            axis=1, inplace=True)

# Conclusion

In [ ]:
display(movies.info())
display(movies.head())

movies['title'].nunique()

With 2126 films in the dataframe we'll be able to do significant analysis on film trends. The last step of the data cleaning process is saving the dataframe as a csv to use in the analysis notebook.

In [ ]:
movies.to_csv('movies.csv')